/*
[ ] VR
[ ] solve camera reset @ update
*/

<script>
import { matrix, eigs } from 'mathjs';
import { Object3D, Quaternion, Vector3 } from 'three';
import { Camera, EffectComposer, InstancedMesh, PhongMaterial, Renderer, RenderPass, SphereGeometry, CylinderGeometry, SpotLight, Scene, UnrealBloomPass, BasicMaterial} from 'troisjs';
import VRButton from 'troisjs/src/components/misc/VRButton.vue'

export default {
  data: function() {
    return {
      NUM_INSTANCES: 64*3,
      // m: [1, 0, 0, 1, 0, 1], // cell 11, 12, 13, 22, 23, 33.  It's symmetric.
      // m: [2, .3, .2, 1, 0, 1], // cell 11, 12, 13, 22, 23, 33.  It's symmetric.
      // m: [2, .3, -.4, 1, 0, .5], // cell 11, 12, 13, 22, 23, 33.  It's symmetric.
      m: [2, 0, -0, .5, 0, 1], // cell 11, 12, 13, 22, 23, 33.  It's symmetric.
      idx_mat: [[0, 1, 2], [1,3, 4], [2,4,5]],
    };
  },
  components: {
    Camera, Renderer, Scene, SpotLight, InstancedMesh, SphereGeometry, PhongMaterial,
    EffectComposer, RenderPass, UnrealBloomPass, CylinderGeometry, BasicMaterial,
    VRButton,
  },
  computed: {
    eigdecomp: function() {
      const M = this.m;
      return eigs([
        [M[0], M[1], M[2]],
        [M[1], M[3], M[4]],
        [M[2], M[4], M[5]],
      ]);
    },
    eigvals: function() { return this.eigdecomp.values; },
    eigvecs: function() {
      // Note: eigdecomp.vectors has vecs in COLUMNS, so transpose it.
      const vec_t = this.eigdecomp.vectors;
      return vec_t[0].map((_, colnum) => vec_t.map(row => row[colnum]));
    },
  },
  methods: {
    get_unit_circle: function(frac) {
      const theta = 2*Math.PI*frac;
      return [Math.cos(theta), Math.sin(theta)];
    },
    get_unit_sphere: function(frac) {
      const frac3 = frac * 3;
      const [a, b] = this.get_unit_circle(frac3 % 1);
      if (frac3 <= 1) return [0, a, b];
      if (frac3 <= 2) return [a, 0, b];
      return [a, b, 0];
    },
    get_transformed_unit_sphere: function(frac) {
      const M = this.m;
      const [a,b,c] = this.get_unit_sphere(frac);
      const x = a*M[0] + b*M[1] + c*M[2];
      const y = a*M[1] + b*M[3] + c*M[4];
      const z = a*M[2] + b*M[4] + c*M[5];
      return [x,y,z];
    },
    get_unit: function(vec) {
      const [a,b,c] = vec;
      const length = Math.sqrt(a*a + b*b + c*c);
      return [a/length, b/length, c/length];
    },
    populate_space: function() {
      const dummy = new Object3D();
      const q = new Quaternion();
      // SPHERES
      const imesh = this.$refs.imesh.mesh;
      for (let i = 0; i < this.NUM_INSTANCES; i++) {
        const orbit_dist = 50;
        const frac = (i+.5) / this.NUM_INSTANCES
        const vec = this.get_transformed_unit_sphere(frac).map(x => x*orbit_dist);
        // const unitvec = this.get_unit(vec);
        const unitvec = this.get_unit_sphere(frac);
        q.setFromUnitVectors(new Vector3(0,1,0), new Vector3(...unitvec));
        dummy.quaternion.set(q.x, q.y, q.z, q.w);
        dummy.position.set(...vec);
        // dummy.lookAt(0,0,0);
        dummy.updateMatrix();
        imesh.setMatrixAt(i, dummy.matrix);
      }
      imesh.instanceMatrix.needsUpdate = true;
      dummy.position.set(0,0,0);
      // AXES
      const imesh_axes = this.$refs.imesh_axes.mesh;
      dummy.rotation.set(0,0,0); dummy.updateMatrix(); imesh_axes.setMatrixAt(0, dummy.matrix);
      dummy.rotation.set(Math.PI/2,0,0); dummy.updateMatrix(); imesh_axes.setMatrixAt(1, dummy.matrix);
      dummy.rotation.set(0,0,Math.PI/2); dummy.updateMatrix(); imesh_axes.setMatrixAt(2, dummy.matrix);
      imesh_axes.instanceMatrix.needsUpdate = true;
      dummy.rotation.set(0,0,0);
      // EIGS
      const imesh_eig = this.$refs.imesh_eig.mesh;
      for (let idx=0; idx<=2; idx++) {
        q.setFromUnitVectors(new Vector3(0,1,0), new Vector3(...this.eigvecs[idx]));
        dummy.quaternion.set(q.x, q.y, q.z, q.w);
        dummy.scale.set(this.eigvals[idx], this.eigvals[idx], this.eigvals[idx]);
        dummy.updateMatrix();
        // console.log(this.repr_mat4(dummy.matrix.elements), this.eigvecs[idx]);
        imesh_eig.setMatrixAt(idx, dummy.matrix);
      }
      imesh_eig.instanceMatrix.needsUpdate = true;
    },
    repr_mat4: function(M) { // mat4 is array(16)
      return '[' + [0,4,8,12].map(offset => [0,1,2,3].map(idx => M[offset+idx].toFixed(2)).join(' ')).join(' ; ') + ']'
    }
  },
  mounted: function() {
    this.populate_space();
    this.$refs.vrbutton.init(this.$refs.renderer.renderer)
  },
  watch: { m: { handler(mNew, mOld) { this.populate_space(); }, deep: true, } },
}
</script>

<template>
  <div style="float:right; margin:0 1em">
    <div v-for="(idx_row, i) in idx_mat" :key="i">
      <input v-for="idx in idx_row" :key="idx" v-model="m[idx]" type="number" step="0.1">
    </div>
  </div>

  <div style="float:right; margin:0em 1em; margin-bottom:.4em">
    <b style="float:left">Eig:</b>
    <table>
      <tr style="font-weight:bold"><td v-for="idx in 3" :key="idx">{{ eigvals[idx-1].toFixed(3) }}</td></tr>
      <tr v-for="row in 3" :key="row"><td v-for="idx in 3" :key="idx">{{ eigvecs[idx-1][row-1].toFixed(3) }}</td></tr>
    </table>
  </div>
  <div style="clear:both"></div>

  <div style="height:30em;width:100%">
    <Renderer ref="renderer" resize :orbit-ctrl="{ enableDamping: false, dampingFactor: .05, autoRotate : false }" shadow :xr="true">
      <Camera :position="{ x:-40, y: 60, z: 100 }" />
      <Scene>
        <SpotLight color="#ccff00" :intensity="1" :position="{ y: 150, z: 0 }" :cast-shadow="true" :shadow-map-size="{ width: 1024, height: 1024 }" />
        <SpotLight color="#ff0000" :intensity="1" :position="{ y: -150, z: 0 }" :cast-shadow="true" :shadow-map-size="{ width: 1024, height: 1024 }" />
        <InstancedMesh ref="imesh" :count="NUM_INSTANCES" :cast-shadow="true" :receive-shadow="true">
          <CylinderGeometry :radiusTop="1" :radiusBottom="0" :height="8" />
          <PhongMaterial />
        </InstancedMesh>
        <InstancedMesh ref="imesh_axes" :count="3" :cast-shadow="true" :receive-shadow="true">
          <CylinderGeometry :radiusTop="1" :radiusBottom="0" :height="100"/>
          <BasicMaterial color="#0000ff" />
        </InstancedMesh>
        <InstancedMesh ref="imesh_eig" :count="3" :cast-shadow="true" :receive-shadow="true">
          <CylinderGeometry :radiusTop="3" :radiusBottom="0" :height="100"/>
          <BasicMaterial color="#333" />
        </InstancedMesh>
      </Scene>
      <EffectComposer>
        <RenderPass />
        <UnrealBloomPass :strength="2" />
      </EffectComposer>
      <VRButton ref="vrbutton" />
    </Renderer>
  </div>
</template>


<style scoped>
input[type=number] {
  width: 4em;
  text-align: right;
  /*-moz-appearance:textfield;*/
}
/*input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { display: none; } */

table {
  margin-left: auto; /* why doesn't text-align:right work? */
  border-collapse: collapse;
}
table tr:first-child td {
  border-bottom: 1px solid black;
}
table td {
  padding:0 .4em;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
</style>
